.content{
    margin-top:90px;
    padding-top:30px;
    background-color:gray;
}

.content *{
    font-size:27px;
}
.row{
    padding-top:7px;
    padding-bottom:8px;
}

textarea{
    text-align:center;
}
.numbers{
    background: rgb(187, 186, 186);
}
.equal{
    background:black;
    color:white;
}
#tela{
    text-align:right;
}

#historico{
    background:white;
    min-width:100%;
    min-height:100px;
    max-height:100px;
    overflow:scroll;
}

#historico div{
    text-align:right;

}
.resultline{
    text-decoration: underline;
}
.result{
    font-weight: bold;
}

.operation{
    position:relative;
}
.op{
    position: absolute;
    font-size: 80px;
    top: -11px;
    left: 20;
}
.explain{
    margin-top:100px;
    text-align:center;
}
.glos{
    border: 1px solid black;
    padding:10px;
    width:500px;
    margin:0 auto;
}
.glos p{
    text-align:left;
}
.left-brand{
    position:absolute;
    right:10px;
}
.footer{
    height:80px;
}
.numbers:active{
    opacity: 0.5;
}
.calc{
    width: 30px;
    height:30px;
}
.navbar{
    opacity: 0.8;
    height:50px;
}
.workspace{

    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    padding:10px;
    width:350px;
    height:35px;
    text-align:left;
    right: 10px;
    position: absolute;
    top:-15px;

}
.btn{
  position: absolute;
  right: 10px;
  top: -15px;
  border: 1px solid black;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  padding: 0px;
}

.go{
    position:relative;
    width: 100%;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.9; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

@media only screen and (max-width: 990px) {
  .workspace {
    width:350px;
    top: -40px;
  }
  .btn{
    top: -40px;
  }
}



@media only screen and (max-width: 700px) {
  .navbar-brand{
    font-size:15px !important;
   }
  .workspace {
    font-size:12px !important;
    width:200px;
    top: -40px;
  }
  .btn{
    top: -40px;
  }
}

.table *{
    font-size:12px;
    text-align:left;
}
.min-collumn{
    min-width: 110px;
}
.txt-bemvindo{
    text-align:center;
    margin-top: 64px;
    margin-bottom: -83px;
}
